<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBProject.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBProject.Properties.Settings.ProgettoDB16ConnectionString"
            connectionString="Data Source=PAOLO-LENOVO;Initial Catalog=ProgettoDB16;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBProject.Properties.Settings.DBProject1617ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Paolo\Desktop\dbproject-1617\ProgettoDB-1617\database\DBProject1617.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DBProject.Properties.Settings.DBProject1617ConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Paolo\Desktop\dbproject-1617\DBProject\database\DBProject1617.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>